In [1]:
name = "Sam"

In [2]:
# name[0] = 'P'

In [3]:
last_letters = name[1:]

In [4]:
last_letters

'am'

In [5]:
'P' + last_letters

'Pam'

In [6]:
x = 'Hello World'

In [10]:
x = x + ' it is beautiful outside!'

In [11]:
x

'Hello World it is beautiful outside! it is beautiful outside!'

In [12]:
letter = 'Z'

In [13]:
letter*10

'ZZZZZZZZZZ'

In [14]:
2+3

5

In [15]:
'2' + '3'

'23'

In [16]:
xx = 'Hello World'

In [18]:
xx.upper()

'HELLO WORLD'

In [19]:
xx.split()

['Hello', 'World']

In [20]:
x = 'Hi this is a string'

In [21]:
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [22]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

In [24]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [25]:
print('The {} {} {}'.format('fox','brown','quick'))

The fox brown quick

In [26]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [27]:
print('The {0} {0} {0}'.format('fox','brown','quick'))

The fox fox fox

In [28]:
print('The {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

The quick brown fox

In [29]:
result = 100/777

In [30]:
result

0.1287001287001287

In [34]:
print("The result was {r:1.5f}".format(r=result))

The result was 0.12870

In [35]:
name = "Jose"

In [38]:
print(f'Hello, his name is {name}')

Hello, his name is Jose

In [39]:
name = 'Sam'
age = 3

In [40]:
print(f'{name} is {age} years old')

Sam is 3 years old